<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.score.mapper.CourseMapper">
    <select id="getTeacherIdByCourseId" resultType="java.lang.String">
        select
        	teacherId
        from 
        	TC
        where 
        	courseId = #{courseId};
    </select>
</mapper>